<?xml version="1.0" encoding="utf-8"?>
<messages active="true">
    <message id="cv.app" height="300px">
        <div class="py-3 ">Cv Alex </div>
        <div class="px-3 ">
            <div class=" ">${image class=" " implementation=""}</div>
            <div class="py-4 ">
                <div class="text-2xl font-semibold text-cyan-800 ">Software Developer</div>
                <div class=" italic">I develop 3-Tier web applications on Linux using C++ with Wt library for both frontend and backend. I also use Ice for communication and PostgreSQL for database management. To ensure efficient DevOps, I rely on Jenkins.</div>
            </div>
        </div>
        <div class="">
            <div class="text-2xl font-semibold text-cyan-800 ">Some of the things i have experiance with</div>
            <div class="text-xl font-medium text-cyan-700 ">Style</div>
            <div class=""></div>
        </div>
        <div class="">
            <div class="w-11 w-full">Footer Section 3</div>
            <div class=""/>
        </div>
    </message>
</messages>
