<?xml version="1.0" encoding="utf-8"?>
<messages>

    <message id="starter.app" height="300px">
        <div class="container h-full mx-auto">
            <div class="my-1">${navbar class=" " implementation="text:app navigation"}</div>
            <div class="mb-8 rounded-lg bg-white p-2">
                <div class="rounded-lg">${content class="" implementation="text:app content"}</div>
            </div>
        </div>
    </message>

    <message id="starter.navbar" height="300px">
        <ul class="flex items-center bg-gray-200 w-full shadow-md rounded-md p-1.5 text-nowrap overflow-y-auto">
            <li class="mr-2 ml-1">
                <span class="text-md sm:text-xl font-bold hidden mr-4 sm:!block cursor-default">${title}</span>
            </li>
            <div class="flex text-sm sm:text-md">
                <li class="mr-6 text-inherit">
                    <span class="text-blue-500 hover:text-blue-800 cursor-pointer ">${home-link class=""}</span>
                </li>
                <li class="mr-6 text-inherit">
                    <span class=" text-blue-500 hover:text-blue-800 cursor-pointer ">${test-link class=""}</span>
                </li>
            </div>
            <li class="mr-1 ml-auto">
                <span class="">${user-menu class="flex items-center max-w-9 max-h-9 min-w-9 min-h-9 cursor-pointer p-0.5 rounded-md hover:bg-gray-300"}</span>
            </li>
        </ul>
    </message>

    <message id="starter.settings">
        <div class="hidden">Settings template</div>
        <div class="max-w-[320px] shadow-md border border-solid border-gray-200 mx-auto">
            <div class="flex bg-blue-200 w-full px-2 rounded-md">
                <div class="flex justify-start items-centers w-full">
                    <div class="mr-1">${user-id}.</div>
                    <div class="font-semibold">${user-first-name}</div>
                    <div class="font-semibold">${user-last-name}</div>
                    <div class="ml-auto">
                        <div class="text-[10px]">Join Date</div>
                        <div class="text-[10px] font-semibold">${user-join-date}</div>
                    </div>
                </div>
            </div>
            <div class=" m-2 flex flex-wrap">
                <div class="w-1/2">Username</div>
                <div class="w-1/2 font-semibold">${user-user-name}</div>
                <div class="w-1/2">Email</div>
                <div class="w-1/2 font-semibold">${user-email}</div>
                <div class="w-1/2">Phone</div>
                <div class="w-1/2 font-semibold">${user-phone}</div>
                <div class="w-1/2">Dark Mode</div>
                <div class="w-1/2 font-semibold">${user-dark-mode}</div>
            </div>
        </div>
        <div class="border border-solid border-black my-4"></div>
        <div>
            <div>${user-settings-form}</div>
        </div>
    </message>

    <message id="starter.user.settings.form">
        <div class="max-w-md mx-auto">
            <div class="w-full">
                <label for="${id:user-name}" class="">
                    <div class="flex">
                        <div class="block text-sm font-medium leading-6 text-gray-900 text-nowrap">${tr:Wt.Auth.user-name}</div>
                        <div>${user-name-info class="font-bold text-red-500 ml-3"}</div>
                    </div>
                    <div class="flex items-center">
                        <div class="w-full">${user-name class="line-edit-style-1" implementation="input:first name"}</div>
                        <div>${user-name-save-btn class="btn-green"}</div>
                        <div>${user-name-cancel-btn class="btn-green"}</div>
                    </div>
                </label>
            </div>
            <div class="w-full">
                <label for="${id:first-name}" class="">
                    <div class="flex">
                        <div class="block text-sm font-medium leading-6 text-gray-900 text-nowrap">${tr:Wt.Auth.first-name}</div>
                        <div>${first-name-info class="font-bold text-red-500 ml-3"}</div>
                    </div>
                    <div class="flex items-center">
                        <div class="w-full">${first-name class="line-edit-style-1" implementation="input:first name"}</div>
                        <div>${first-name-save-btn class="btn-green"}</div>
                        <div>${first-name-cancel-btn class="btn-green"}</div>
                    </div>
                </label>
            </div>
            <div class="w-full">
                <label for="${id:last-name}" class="">
                    <div class="flex">
                        <div class="block text-sm font-medium leading-6 text-gray-900 text-nowrap">${tr:Wt.Auth.last-name}</div>
                        <div>${last-name-info class="font-bold text-red-500 ml-3"}</div>
                    </div>
                    <div class="flex items-center">
                        <div class="w-full">${last-name class="line-edit-style-1" implementation="input:first name"}</div>
                        <div>${last-name-save-btn class="btn-green"}</div>
                        <div>${last-name-cancel-btn class="btn-green"}</div>
                    </div>
                </label>
            </div>
            <div class="w-full">
                <label for="${id:phone}" class="">
                    <div class="flex">
                        <div class="block text-sm font-medium leading-6 text-gray-900 text-nowrap">${tr:Wt.Auth.phone}</div>
                        <div>${phone-info class="font-bold text-red-500 ml-3"}</div>
                    </div>
                    <div class="flex items-center">
                        <div class="w-full">${phone class="line-edit-style-1" implementation="input:first name"}</div>
                        <div>${phone-save-btn class="btn-green"}</div>
                        <div>${phone-cancel-btn class="btn-green"}</div>
                    </div>
                </label>
            </div>
            <div class="w-full">
                <div>${file-upload}</div>
            </div>
        </div>
    </message>

    <message id="starter.photo.upload">
        <div class="bg-red-200">
            <div>${file-info-1}</div>
            <div>${file-info-2}</div>
            <div>${file-info-3}</div>
            <div>${file-info-4}</div>
            <div>${progress-bar}</div>
            <div>${file-upload}</div>
            <div>${image}</div>
        </div>
    </message>

</messages>
