<messages active="">
    <message id="component-settings" height="300px" class="">
        <div class="bg-red-100 bg-fixed ">${dark-mode-toggle class="dark:bg-violet-400 block h-7 w-28 bg-teal-400 " implementation="text:dark mode toggle"}</div>
        <div class="dark:bg-amber-600 bg-amber-200 p-20 p-2"/>
        <div class=" m-8 ">Account settings</div>
    </message>
</messages>
